<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <%= link_to "<div class='sidebar-brand-icon rotate-n-15'>
            <i class='fas fa-laugh-wink'></i>
        </div>
        <div class='sidebar-brand-text mx-3'>CrownBits <sup></sup></div>".html_safe, '/admin', class: "sidebar-brand d-flex align-items-center justify-content-center" %>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item <%= active_class('admin') %>">
      <%= link_to "<i class='fas fa-fw fa-tachometer-alt'></i>
            <span>Dashboard</span>".html_safe, admin_index_path, class: "nav-link" %>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Tables -->
    <li class="nav-item <%= active_class('admin/users') %>">
      <%= link_to "<i class='fas fa-fw fa-user'></i>
            <span>Users</span>".html_safe, admin_users_path, class: "nav-link" %>
    </li>
    <li class="nav-item <%= active_class('admin/stores') %>">
      <%= link_to "<i class='fas fa-fw fa-store'></i>
            <span>Stores</span>".html_safe, admin_stores_path, class: "nav-link" %>
    </li>
    <li class="nav-item <%= active_class('admin/categories') %>">
      <%= link_to "<i class='fas fa-fw fa-table'></i>
            <span>Departments</span>".html_safe, admin_categories_path, class: "nav-link" %>
    </li>
    <li class="nav-item <%= active_class('admin/blogs') %>">
      <%= link_to "<i class='fas fa-fw fa-blog'></i>
            <span>Blogs</span>".html_safe, admin_blogs_path, class: "nav-link" %>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->

</ul>
<!-- End of Sidebar -->

<style type="text/css">
  .sidebar{
      position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
  }
</style>